body{
    background: #c32222;
    background: linear-gradient(340deg, rgba(195, 34, 34, 1) 0%, rgba(45, 253, 170, 1) 100%);
    margin: 0;
    padding: 0;
    color: #333;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-title{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin: 30px 0;
}

.container{
    max-width: 650px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

label{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

input{
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 60%;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button{
    color: white;
    border: none;
    padding: 14px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    background: #c32222;
    background: linear-gradient(140deg, rgba(195, 34, 34, 1) 0%, rgba(45, 253, 170, 1) 100%);
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button:hover{
    color: white;
    background: #c32222;
    background: linear-gradient(340deg, rgba(195, 34, 34, 1) 0%, rgba(45, 253, 170, 1) 100%);
}

.result-box p {
    font-size: 20px;
    margin: 12px 0;
    font-weight: bold;
}
